
$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;
$bsize: 1px;
$m-size: 1.5vw;


div {
    border: $bsize solid $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        width: fit-content;
        color: $color-tertiary;
        border-bottom: $bsize solid $color-secondary;
        /* Ho provato inizialmente con l'underline 
        e con solo text-align center ma non mi è piaciuto il risultato
        così ho dato flex column ecc e ho aggiunto il bordo, che mi è sembrato
        più simile all'immagine dell'esercizio */
    }
}

section {
    display: flex;
    margin: $m-size;
    margin-top: 0;
    article {
        border: $bsize solid $color-tertiary;
        p {
            text-align: center;
            padding: calc($m-size / 2);
        }
        &:nth-of-type(even) {
            p {
                color: $color-primary;
            }
        }
        &:nth-of-type(odd) {
            color: $color-secondary;
        }
    }

}